.main-header {
    flex-direction: row-reverse;
}

.main-header-text {
    display: none;
}

.nav-btn {
    display: none;
}

.drop-menu {
    display: flex;
    margin-left: 50px;
}

.drop-menu-item {
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
}

.nav-logo {
    cursor: pointer;
    margin: 10px 20px 10px 0;
}

/*main section starts*/

.main-screen {
    padding: 0px 0px 649px 48px;
    margin-bottom: 4px;
    background-image: url(../img/header-fon_1200.png);
}

.main-title {
    font-size: 62px;
    line-height: 64px;
    font-weight: 700;
    padding: 64px 0 57px 30px;
}

.sub-title {
    font-size: 38px;
    padding-left: 30px;
}

.menu-description {
    display: flex;
}

.menu-description-item {
    font-size: 43px;
    width: 33.3%;
    margin-bottom: 3px;
}

.menu-description-block {
    display: none;
}

.menu-item-img {
    padding: 200px 0;
}

.menu-item-img.img-1 {
    background-image: url(../img/Pizza_delivery_1200.png);
    background-position: bottom;
}

.menu-item-img.img-2 {
    background-image: url(../img/UA_UX\ Salads_1200.png);
    background-position: bottom;
}

.menu-item-img.img-3 {
    background-image: url(../img/Desserts_1200.png);
}

/*main section ends*/

.main-menu-container {
    display: flex;
}

.main-menu-logo {
    display: block;
    position: absolute;
    top: -20px;
    right: 0;
    padding-right: 25px;
}

.main-menu-title {
    font-size: 40px;
}

.main-menu-subtitle {
    font-size: 20px;
    margin-top: 10px;
}

.main-menu-header {
    font-size: 40px;
    padding: 23px 0 23px 38px;
}

.menu-header-title {
    margin: 35px 0 20px;
    font-size: 30px;
}

.main-menu-category {
    display: flex;
    justify-content: space-between;
}

.menu-header-subtitle {
    color: #3f4043;
    font-size: 27px;
}

.fas {
    margin-top: 20px;
    font-size: 48px;
}

.menu-header-item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.menu-header-price {
    font-size: 27px;
}

.menu-header-description {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
}

.footer {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
}

.container.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.br {
    display: none;
}