
.drop-menu.active {
    display: block;
}
.main-header-text {
    font-size: 12px;
    padding-left: 15px;
}
.nav-btn {
    width: 40px;
    height: 37px;
    color: #fff;
}
.fas.fa-bars {
    font-size: 20px;
}
.drop-menu {
    width: 182px;
    height: 160px;
    display: none;
    position: absolute;
    right: 0%;
    top: 100%;
    background-color: #fff;
}
.drop-menu-item {
    font-size: 12px;
    padding: 10px 0 10px 10px;
} 
.drop-menu-item:hover {
    background-color: grey;
}
.nav-logo {
    display: none;
}
/*main section starts*/
.main-screen {
    padding: 0px 0px 95px 15px;
    margin-bottom: 4px;
    background-image: url(../img/header-fon_320.png);
}
.main-title{
    line-height: 20px;
    padding: 20px 0 10px 0;
}
.sub-title{
    font-size: 14px;
}
.menu-description-item{
    font-size: 20px;
    margin-bottom: 2px;
}
.menu-description-block{
    font-size: 36px;
    padding: 22px 0;
}
.menu-item-img{
    padding: 30px 0;
}
.menu-item-img.img-1{
    background-image: url(../img/Pizza_delivery_320.png);
    background-position: bottom;
}
.menu-item-img.img-2{
    background-image: url(../img/UA_UX_Salads_320.png);
    background-position: bottom;
} 
.menu-item-img.img-3{
    background-image: url(../img/Desserts_320.png);
}
/*main section ends*/
.main-menu-title{
    font-size: 16px;
}
.main-menu-subtitle{
    font-size: 9px;
    margin-top: 5px;
}
.main-menu-header{
    font-size: 20px;
    padding: 10px 0 10px 15px;
}
.menu-header-title{ 
    margin: 20px 0 10px;
    font-size: 15px;
}
.main-menu-category{
    display: flex;
    justify-content: space-between;
}
.menu-header-subtitle{
    color:  #3f4043;
    font-size: 14px;
}
.menu-header-item{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.fas {
    margin-top: 10px;
    font-size: 25px;
}
.menu-header-price{
    font-size: 14px;
}
.menu-header-description{
    font-size: 9px;
    line-height: 12px;
    margin-top: 10px;
}
.footer{
    padding: 11px 0;
    font-size: 12px;
    line-height: 16px;
}